In [1]:
import pickle

In [2]:
import pandas as pd

In [3]:
db = pd.read_csv("crops_data.csv")

In [4]:
db

     Unnamed: 0  year  crop_id          crop  production  demand  price
0             0  2010        1         Onion       32737   50275   2174
1             1  2010        2        Potato       50343   48812   2395
2             2  2010        3        Tomato       50334   33002   2189
3             3  2010        4         Apple       40927   57855  16217
4             4  2010        5        Bhindi       52172   58585   2303
..          ...   ...      ...           ...         ...     ...    ...
607         607  2021       47  Sweet Potato       37080   35865   1606
608         608  2021       48          Pear       58425   42815   8924
609         609  2021       49      Mousambi       55042   50103   1292
610         610  2021       50        lentil       40156   36144   9237
611         611  2021       51        coffee       50048   58516  11324

[612 rows x 7 columns]

In [11]:
loaded_model = pickle.load(open("LinearRegressionModel.pkl",'rb'))

In [12]:
loaded_model.predict(pd.DataFrame([[2024,2,"Potato",60000,10000]],columns = ["year","crop_id","crop","production","demand"]))

array([1751.23813808])